<h1 id="tableLabel">Gundam WishList</h1>

<p>This component demonstrates fetching data from the server.</p>


<button class="btn btn-primary" (click)="toggleEditForm()">Create New Gundam</button>
<app-edit-wishlist [wishlist]="wishListToEdit" (wishListUpdated)="updateWishList($event)"></app-edit-wishlist>

<p *ngIf="!wishlist?.length"><em>Loading...</em></p>


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="wishlist && wishlist.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Series</th>
      <th>Grade</th>
      <th>Scale</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let wishlist of wishlist">
      <td>{{ wishlist.name }}</td>
      <td>{{ wishlist.series }}</td>
      <td>{{ wishlist.grade }}</td>
      <td>{{ wishlist.scale }}</td>
      <td>
        <button class="btn-close" (click)="deleteWishList(wishlist)" *ngIf="wishlist.id"></button>
      </td>
    </tr>
  </tbody>
</table>

