<h1 id="tableLabel">Gundam Backlog</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!backlog?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="backlog.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Series</th>
      <th>Grade</th>
      <th>Scale</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of backlog">
      <td>{{ log.name }}</td>
      <td>{{ log.series }}</td>
      <td>{{ log.grade }}</td>
      <td>{{ log.scale }}</td>
    </tr>
  </tbody>
</table>
